<html>
	<head>
		<title>search</title>
	</head>
	<body>
		<h2>search for a product</h2>
		<!---form for searching product by ID-->
		<form th:action="@{/searchbyid}" method="post">
			<label for="id">Enter ID:</label>
			<input type="number"name="id"id="id" required>
			<button type="submit">search</button>
		</form>
		<!--- this code executed when the product is available-->
		<div th:if="${product !=null}">
			<h3>Product Details</h3>
			<p><strong>ID:</strong> <span th:text="${product.id}"</span></p>
			<p><strong>Name:</strong> <span th:text="${product.name}"</span></p>
			<p><strong>Brand:</strong> <span th:text="${product.brand}"</span></p>
			<p><strong>MadeIn:</strong> <span th:text="${product.madeIn}"</span></p>
			<p><strong>Quantity:</strong> <span th:text="${product.quantity}"</span></p>
			<p><strong>DiscountRate:</strong> <span th:text="${product.discountRate}"</span></p>
			<p><strong>stockValue:</strong> <span th:text="${product.stockValue}"</span></p>
			<p><strong>offerprice:</strong> <span th:text="${product.offerPrice}"</span></p>
			<p><strong>price:</strong> <span th:text="${product.price}"</span></p>
		    <p><strong>finalprice:</strong> <span th:text="${product.finalPrice}"</span></p>
			<p><strong>discountprice:</strong> <span th:text="${product.discountPrice}"</span></p>
			<p><strong>Taxprice</strong>:</strong> <span th:text="${product.taxPrice}"</span></p>
		</div>
		<!---Display message if product is not found-->
		<div th:if="${product==null}">
			<p>No product found with the given ID</p>
		</div>
	</body>
</html>